<div class="header_1">
  <%= render 'layouts/header' %>
</div>
<div class="header_2">
  <%= render 'layouts/hamburger_btn' %>
</div>


<div class="main_image">
  <p>一通の手紙から始まった奇跡</p>
</div>

<a class="twitter_icon" href="https://twitter.com"></a>

<div class="main_info text-center">
  <h1>
    ジョットマーイ
  </h1>

  <div class="info_dvd row">
    <div class="info_dvd_left col-md-6">
  	  <h6>20XX.<span>3.2</span>(金)</h6>
  	  <p>DVD-BOX1発売 ＆ vol.1 レンタル開始!</p>
    </div>

    <div class="info_dvd_right col-md-6">
      <h6>20XX.<span>4.4</span>(金)</h6>
  	  <p>DVD-BOX2発売 ＆ vol.2 レンタル開始!</p>
    </div>
  </div>

  <div class="info_actor row">
    <p>actor1 <span>x</span> actor2 <span>x</span> actor3</p>
  </div>
</div>

<div class="main_contents">
  <%= render 'introduction' %>
  <%= render 'story' %>
  <%= render 'cast_staff' %>
  <%= render 'product_oa' %>
  <%= render 'gallery' %>
</div>
